.ant-layout .ant-layout .ant-layout-header {
  background-color: #ffc219;
  color: #ffff;
  width: 100%;
  height: 64px;
  padding-left: 10px;
  /*padding-right: 10px;*/
}

.ant-layout .ant-layout-sider .ant-layout-sider-children ul{
  border-right-width : 0px;
}
.ant-layout .ant-layout-sider .ant-layout-sider-children li{
  color: #40a9ff;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  border-right-style: solid;
  background-color: #ffff;
}
.logoSider{
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
.trigger {
  /*margin-left: 5px;*/
  font-size: 20px;
  color: #40a9ff;
}

